include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/kobo *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/kobo/migration *.ini *.py *.mako
recursive-include ckanext/kobo/public *.*
